# Environment
.env
.env.backup
.env.local

# Laravel
bootstrap/cache/
storage/logs/
storage/framework/
public/storage

# Composer
vendor/
composer.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp

# Backup files
*~
* copy/
* copy.php

# Docker
.dockerignore
volumes/
volumes/*
.volumes.swp

# Temporary directories
TMP/

# Logs
*.log

# PHP
*.php.bak
*.php~

# Testing
.phpunit.result.cache

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled Assets
/public/hot
/storage/oauth-private.key
/storage/oauth-public.key

# Laravel specific
artisan
server.php

# Laravel Passport
/storage/oauth-private.key
/storage/oauth-public.key

# Laravel Mix
.mix/

# Laravel Sail
.sail/